.ResponsiveList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-column-gap: 8px;
    grid-template-rows: 120px;
    grid-row-gap: 16px;

}

.listItem {
    display: grid;
    grid-template-rows: 48px 48px 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.listItemLabel, .listItemValue {
    justify-self: left;
    margin: 4px;
}

.justList {
    display: grid;
    grid-template-columns: minmax(160px, 1fr);
    grid-template-rows: 48px repeat(auto-fill, 120px);
    grid-row-gap: 16px;
}

.titleList {
    max-height: 48px;
    font: 16pt Arial;
}

.buttonsPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4px;
    padding: 0 4px;
}

.customButton {
    font-size: 16px;
    color: #000; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(200, 228, 251); /* фон кнопки */
    padding: 2px 0.5em; /* отступ от текста */
    opacity: 0.5;
    border-radius: 5px;
    /*justify-self: center;*/
}

.deleteButton:hover {
    background: rgb(230, 74, 25);
    color: #fff; /* цвет текста */
}

/* при наведении курсора мышки */
.editButton:hover {
    background: rgb(76, 175, 80);
    color: #fff; /* цвет текста */
}

/* при наведении курсора мышки */
.deleteButton:active {
    background: rgb(2, 136, 209);
    color: #fff; /* цвет текста */
}

/* при нажатии */
.editButton:active {
    background: rgb(2, 136, 209);
    color: #fff; /* цвет текста */
}

.saveButton:hover {
    background: rgb(76, 175, 80);
    color: #fff; /* цвет текста */
}

/* при нажатии */
.saveButton:active {
    background: #1976D2;
    color: #fff; /* цвет текста */
}

.saveButton {
    background-color: #388E3C;
    color: #fff;
}

.cardValue[contenteditable="true"],
.cardLabel[contenteditable="true"] {
    color: red;
    animation: makeUnderline 1s forwards;
}

.cardValue[contenteditable="false"],
.cardLabel[contenteditable="false"] {
    color: black;
}

@keyframes makeUnderline {
    from {
        border-bottom: 1px solid white;
    }
    30%{
        border-bottom: 1px solid darkgray;
    }
    60%{
        border-bottom: 1px solid grey;
    }
    to 	{
        border-bottom: 1px solid black;
    }
}